@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
.gmmDiv1{
	width:7.5rem;
	height:8.45rem;
}
.gmmDiv2{
	width:7.5rem;
	height:4.5rem;
}
.footDiv{
	width:7.5rem;
	height:0.38rem;
}
.footIcon{
	position:relative;
	top:0.1rem;
	left:2.7rem;
	width:2.17rem;
	height:0.2rem;
	background-image:url(../imgs/changePassword/NCUHOME.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}
.backIcon{
	width: 0.23rem;
	height: 0.37rem;
	position: relative;
	top: 0.63rem;
	left:0.17rem;
	background-color: #FFF;
	border:none;
	outline: none;
	background-image: url(../imgs/changePassword/back_icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.chPasswordTable{
	position:relative;
	top:2.55rem;
	left:1.1rem;
}
.td1{	
	width:0.4rem;
	height:0.7rem;	
	border:none;
	background-image:url(../imgs/drawable-xhdpi/icon_name.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}
.td2{
	height:0.7rem;	
	border:none;
	background-image:url(../imgs/drawable-xhdpi/passwordIcon.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}
.hrHeight{
	height:0.6rem;
}
.changeKeytd{
	width:0.4rem;
	height:0.7rem;
	background-image:url(../imgs/changePassword/re_password_icon.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}
.enterTable{
	height: 0.7rem;
	position: relative;
	top: 3.95rem;
	left:1.1rem;
}
.pageFoot{
	position:relative;
	top:2.6rem;
	left:2.55rem;
	width:2.92rem;
	height:1.85rem;
	background-image:url(../imgs/changePassword/image.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}
.newErrorStyle{
	width:3.5rem;
	height:1.66rem;
	display:none;
	position:absolute;
	top:3.8rem;
	z-index:9999;
	margin-left:1.8rem;
	font-size:0.36rem;
	font-family: Helvetica,"PingFang SC";
	color:#FFF;
	padding-top:0.85rem;
	padding-left:0.7rem;
	background-image:url(../imgs/drawable-xhdpi/frame_bg.png);
	background-repeat:no-repeat;
	background-size:100%;
}

