<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="../cssFile/login.css"/>
    <link type="text/css" rel="stylesheet" href="../cssFile/publish.css"/>
    <script type="text/javascript" src="../jsFile/login.js"></script>
    <script type="text/javascript" src="../jsFile/vue.js"></script>
    <title>publish</title>
</head>

<body onload="setHtmlSize()">
<div class="div1">
    <div class="titleDiv">
        <button class="backButton" onclick="window.location.href = 'index.html'"></button>
    </div>
    <div id="publishInput" v-bind:class="[schoolCard? 'schoolBUT': (idCard? 'personBUT':'bankBUT'),'inputeCard']">
        <table>
            <tr>
                <td>
                    <button v-bind:class="[schoolCard? 'selectButton': 'selectButton1']" v-on:click="schoolEnter">校园卡
                    </button>
                </td>
                <td>
                    <button v-bind:class="[idCard? 'selectButton': 'selectButton1']" v-on:click="idEnter">身份证</button>
                </td>
                <td>
                    <button v-bind:class="[bankCard? 'selectButton': 'selectButton1']" v-on:click="bankEnter">银行卡
                    </button>
                </td>
            </tr>
        </table>
        <div id="textareaDiv" class="textareaStyle">
            <p v-for="item in todosMessage"><input type="text"
                                                   v-bind:class="[item.msgIsError? 'msgFalse':'msgTrue','messageInput']"
                                                   placeholder="请输入卡号" v-model="item.kh"
                                                   v-on:keyup.enter="addNewTodo"><br></p>
        </div>
        <div id="ErrorTip" class="error" v-if="!isError">
            <div class="isTrue" v-if="publishIsError"></div>
            <div class="isFalse" v-if="!publishIsError"></div>
            {{tipTxt}}
        </div>
        <table>
            <tr>
                <td class="tipTD1"></td>
                <td class="tipTD2">请按确认键继续下一个卡号输入</td>
            </tr>
        </table>
        <button class="publishButton" v-on:click="sendMessage">发布</button>
    </div>
</div>
</body>

<script>
    var inputvue = new Vue({
        el: '#publishInput',
        data: {
            isError: 1,
            tipTxt: '卡号填写错误！',
            schoolCard: true,
            idCard: false,
            bankCard: false,
            publishIsError: 0,
            number: '',
            todosMessage: [
                {cardID: 1, kh: '', lost_type: '', msgIsError: false}
            ],
            nextInputID: 2
        },
        methods: {
            schoolEnter: function () {
                this.schoolCard = true;
                this.idCard = false;
                this.bankCard = false;
                this.todosMessage = [{cardID: 1, kh: '', lost_type: '', msgIsError: false}];
            },
            idEnter: function () {
                this.schoolCard = false;
                this.idCard = true;
                this.bankCard = false;
                this.todosMessage = [{cardID: 1, kh: '', lost_type: '', msgIsError: false}];
            },
            bankEnter: function () {
                this.schoolCard = false;
                this.idCard = false;
                this.bankCard = true;
                this.todosMessage = [{cardID: 1, kh: '', lost_type: '', msgIsError: false}];
            },
            judgeMessage: function () {
                if (this.schoolCard) {
                    return 1;
                }
                else if (this.idCard) {
                    return 2;
                }
                else {
                    return 3;
                }
            },
            addNewTodo: function () {
                this.todosMessage.push({
                    cardID: this.nextInputID++,
                    kh: '',
                    lost_type: '',
                    msgIsError: false
                });
            },
            getLocalMessage: function () {
                if (!window.localStorage) {
                    return "";
                }
                else if (window.localStorage.token == null) {
                    return "";
                } else {
                    return window.localStorage.token;
                }
            },
            sendMessage: function (event) {
                var type = this.judgeMessage();
                for (var i = 0; i < this.todosMessage.length; i++) {
                    this.todosMessage[i].lost_type = type;
                }
                var jsonMessage = '';
                var jsonType = {
                    data: []
                }
                for (i = 0; i < this.todosMessage.length; i++) {
                    jsonType.data.push(this.todosMessage[i]);
                }
                jsonMessage = JSON.stringify(jsonType);
                var xhr = new XMLHttpRequest();
                var t = this.getLocalMessage();
                var that = this;
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) {
                        if (xhr.status >= 200 && xhr.status < 300 || xhr.status == 304) {

                            var msg = JSON.parse(xhr.responseText);
                            if (msg.code == -1) {
                                that.tipTxt = '请重新登录！即将跳转';
                                that.publishIsError = 0;
                                that.isError = 0;
                                setTimeout("window.location.href = 'login.html'", 1000);
                            }
                            /*发布失败*/
                            else if (msg.code == 3) {
                                that.tipTxt = '卡号填写错误！';
                                that.publishIsError = 0;
                                that.isError = 0;
                                setTimeout(function () {
                                    that.isError = 1;
                                }, 1500);
                                for (var i = 0; i < msg.fail.length; i++) {
                                    for (var n = 0; n < that.todosMessage.length; n++) {
                                        if (msg.fail[i] == that.todosMessage[n].kh) {
                                            that.todosMessage[n].msgIsError = true;
                                        }
                                    }
                                }
                            }
                            /*发布成功*/
                            else {
                                that.tipTxt = '发布成功！';
                                that.publishIsError = 1;
                                that.isError = 0;
                                that.todosMessage = [{cardID: 1, kh: '', lost_type: '', msgIsError: false}];
                                setTimeout(function () {
                                    that.isError = 1;
                                }, 1500);

                            }
                        }
                        else {
                            alert("网络错误:" + xhr.status);
                        }
                    }
                };
                xhr.open('post', 'http://localhost:8080/api/newFound', true);
                xhr.setRequestHeader("Authorization",t);
                xhr.send(jsonMessage);
            }
        }
    });
</script>
</html>
